* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-image: linear-gradient(rgba(219, 230, 246,0.6),rgba(197, 121, 109,0.7)),
    url(../images/products.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100px;
    height: 100px;
}

.brand-logo {
    text-transform: uppercase;
    padding: 0;
}

header {
    background-color: rgba(245, 245, 245,0.2);
    width: 100%;
    line-height: 2em;
}
header h1 {
    width: 100%;
    text-align: right;
    right: 2%;
    padding: 0;
}
#pamagat a {
  text-decoration: none;
}

/* NAVBAR */
/* .menu {
  
  z-index: 10;
}

nav#menu2 {
  display: none;
}

#navbar a {
    position: absolute;
    left: -75px;
    transition: 0.4s;
    padding: 20px;
    width: 120px;
    text-decoration: none;
    font-size: 1em;
    color: black;
}

#navbar a:hover {
    left: 0;
}

 #home, #ad, #con{
  background: #D5E8D4;
}

#ab, #st{
  background: #97D077;
}

#home {
    top: 20px;
}

#ab {
    top: 80px;
}

#ad {
    top: 140px;
}

#st {
    top: 200px;
}

#con {
    top: 260px;
}

#about,#adopt, #stories, #contact {
  height:700px;
} */

/*Footer*/
footer {
    background-color: #333333;
    background-image: url("../images/background/bg.jpg"); 
    background-repeat: no-repeat;
    color: #EAEAED;
    padding-top: 25px;
    position: absolute;
    width: 100%;
}
.menu a {
  text-align: left;
  background-color: transparent; 
  color: #EAEAED; 
  display: block; 
  
  font-size: 13px;
  text-decoration: none; 
  letter-spacing: .2em;
}
.menu a:hover {
  color: #171717;
  background-color: #EAEAED;
  font-weight: bold;
}
hr {
 border: .5px solid #EAEAED;
}
footer a {
	color: #EAEAED;
}
.footer-copyright {
	font-size: 13px;
 	
}
.footer-title {
  text-align: center;
  
  font-size: 17px;
}
.footer-text {
	
  font-size: 12px;
} 
.footer-alt {
  
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 14px;
}
footer h6 {
  font-size: 12px;
}

/*Socials*/	
.social a {
  font-size: 2em;
  padding: 15px;
}

.fa-facebook {
	color: #3B5998;
}

.fa-twitter {
	color: #00ACED;
}

.fa-instagram {
  color: #517FA4;
}
.fa-youtube {
	color: #BB0000;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover, 
.fa-youtube:hover {
  color: #fff;
}

.slideshow-container {
  width: 100%;
  height: 50vh;
  margin-bottom: 25px;
  border: 1px solid black;
  
}

#img-ht {
  height: 50vh;
}
